.background {
  background-image: url("../picture/background.png");
  background-size: cover;
  background-position: center;
  background-size: fill;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
}

.header .logo {
  height: 50px;
}

.header nav {
  display: flex;
  gap: 15px;
}

.header .profile {
  display: flex;
  align-items: center;
}

.header .profile img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
