body {
  margin: 0;
  padding: 0;
  background-color: #3b3a2f;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 40px;
  background-color: goldenrod;
}

.navbar img {
  height: 50px;
  margin-left: 15px;
  margin-right: 500px;
  border-radius: 100%;
}

.navbar a.Home {
  margin-left: 100px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}
.navbar a.contactus {
  color: #0d1fc6;
}
.profile img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.profile {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-section {
  text-align: center;
  padding: 40px 0;
}

.contact-section h2 {
  font-size: 28px;
  color: gold;
  margin-bottom: 5px;
}

.contact-section p {
  font-size: 14px;
  color: white;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-bottom: 25px;
}

.input-box {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid goldenrod;
  color: white;
  background: none;
  width: 100%;
}
.input-box::placeholder,
.textarea-box::placeholder {
  color: white;
}

.textarea-box {
  width: 100%;
  height: 160px;
  padding: 14px;
  border-radius: 8px;
  background: none;
  border: 1px solid goldenrod;
  color: white;
  margin-bottom: 25px;
}

.submit-btn {
  padding: 12px 40px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 100px;
}

.submit-btn:hover {
  background: #cbb68f;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
footer {
  background-color: #f3cc4d;
  color: #000;
  padding: 40px 80px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #333;
}

.time1 {
  color: white;
}

.time2 {
  color: white;
}

.newsletter {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.newsletter input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  background: transparent;
}

.newsletter button {
  background-color: #000;
  color: #f3cc4d;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #333;
}

hr {
  margin: 30px 0 15px;
  border: none;
  border-top: 1px solid #000;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
}

.social-icons a {
  color: #000;
  margin-left: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #333;
}
.thanks {
  text-align: center;
  padding: 40px 20px;
  border: none;
  margin-top: 150px;
  border-radius: 8px;
  width: 100%;
  height: 200px;
}
.thanks h1 {
  color: gold;
  font-family: sans-serif;
  font-size: 50px;
}
.thanks p {
  color: white;
  font-family: serif;
  font-size: 30px;
}
