body {
  background-image: url("../images/background.png");
  background-size: cover;
 
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d9d3d3;
  border-bottom: 1px solid #eee;
}

header .logo {
  height: 50px;
}

header nav {
  display: flex;
  gap: 15px;
}

header .profile {
  display: flex;
  align-items: center;
}

header .profile img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
header a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}